body {
    background-color: grey;
    color: navy;
}

#container {
    text-align: center;
    width: 100%;
}

#addPhraseToTranslate {
    background-color: navy;
    color: silver;    
}

button {
    border-radius: 10px;
    color: navy;
    background-color: silver;
}

.phrases {
    text-align: center;
}


#showPigLatinAfter, #showPigLatinBefore {
    color: white;
    width: 200px;
    margin: auto;
    font-size: 24px;
}

.footer {
    text-align: center;
    font-size: 16px;
    margin: 25px;
    color: silver;
}

a {
    color: silver;
}